@import "__variables";

#about {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23000449' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23001053' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%230c185d' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%231c2168' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23292A73' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  min-height: 100vh;
  color: whitesmoke;
  // overflow: hidden;

  h2 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    margin-left: 10px;
  }
  .container {
    height: 100%;
    padding: 5vh 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;

    p {
      font-family: "Ubuntu", sans-serif;
      font-size: 20px;
      line-height: 30px;

      a {
        color: $typecolor;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      span {
        color: $typecolor;
      }
    }
    .wrap {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 5vw;

      .study {
        border-left: 10px solid $typecolor;
        padding-left: 5px;
        margin: 15px;
        margin-left: 0px;
        color: white;
      }

      .college {
        font-family: "Ubuntu", sans-serif;
        font-size: 25px;
        font-weight: 500;
        margin: 5px auto;
      }

      .cgpa {
        color: $typecolor;
        font-style: italic;
        font-size: 14px;
      }

      .course {
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        font-weight: 500;
        margin: 5px auto;
      }

      .branch {
        font-family: "Ubuntu", sans-serif;
        font-size: 16px;
        font-weight: 500;
        margin: 5px auto;
      }
    }
  }
}
