@import "__variables";

#skills {
  height: 100vh;
  padding: 3%;
  position: fixed;
  top: 0;
  z-index: -10;
  background-color: $bgc;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  #skill-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    margin: auto;
    color: $typecolor;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 60px;
    text-align: center;
    line-height: 250px;
    background-color: $aboutcolor;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 10px rgba($color: $aboutcolor, $alpha: 0.6);
  }

  .skill {
    position: relative;
    font-size: 18px;
    color: #070a3f;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #3a9efd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    box-shadow: 0px 0px 20px #3a9efd;

    span {
      display: block;
    }
  }

  #python {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  #js {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  #django {
    grid-column: 5/6;
    grid-row: 1/2;
  }

  #express {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  #tableau {
    grid-row: 2/3;
    grid-column: 6/7;
  }

  #html {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  #css {
    grid-row: 3/4;
    grid-column: 7/8;
  }

  #react {
    grid-row: 4/5;
    grid-column: 2/3;
  }

  #davinci {
    grid-row: 4/5;
    grid-column: 6/7;
  }

  #wordpress {
    grid-row: 5/6;
    grid-column: 3/4;
  }

  #sql {
    grid-row: 5/6;
    grid-column: 4/5;
  }

  #numpy {
    grid-row: 5/6;
    grid-column: 5/6;
  }

  #cpp {
    grid-row: 3/4;
    grid-column: 3/4;
  }

  #matplotlib {
    grid-row: 3/4;
    grid-column: 5/6;
  }
}
