@import "__header";
@import "__home";
@import "__about";
@import "__skills";
@import "__projects";
@import "__contact";
@import "__footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

section {
  width: 100%;
}

#third {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}

.container {
  width: 85%;
}

.hide {
  height: 15vh;
  background-color: #3a9efd;
  transform: translateY(-100%);
}

.nav-back {
  background-color: #3a9efd;

  .logo {
    a {
      color: #070a3f;
    }
  }

  ul {
    li {
      .before,
      .after {
        background-color: #070a3f;
      }
      a {
        color: #070a3f;
      }
    }
  }
  nav {
    .contact {
      color: #070a3f;
      border-color: #070a3f;

      &:hover {
        background-color: #070a3f;
        color: #3a9efd;
        box-shadow: 0px 0px 10px 2px #070a3f;
      }
    }
  }
}

.nav-back2 {
  background-color: $bgc;

  .logo {
    a {
      color: white;
    }
  }

  ul {
    li {
      .before,
      .after {
        background-color: $fontcolor;
      }
      a {
        color: $fontcolor;
      }
    }
  }
  nav {
    .contact {
      color: $fontcolor;
      border-color: $fontcolor;

      &:hover {
        background-color: $fontcolor;
        color: $bgc;
        box-shadow: 0px 0px 10px 2px $fontcolor;
      }
    }
  }
}

.toast {
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  padding: 1rem;
  font-size: 0.7rem;
  font-family: Montserrat;
  background: black;
  color: white;
  border-radius: 5px;
  z-index: 1000000;
}
